<div id="auth">
    <mat-card id="auth-content">
        <mat-card-header>
            <mat-card-title>{{getStateText()}}</mat-card-title>
        </mat-card-header>
        <div *ngIf="isLoginState()">
            <input #loginEmail placeholder="Email">
            <input #loginPassword placeholder="Password" type="password">
            <button (click)="OnLogin(loginEmail, loginPassword)" mat-flat-button color="warn">Login</button>
        </div>
        <div *ngIf="isRegisterState()">
            <input #registerEmail placeholder="Email">
            <input #registerPassword placeholder="Password" type="password">
            <input #registerConfirmPassword placeholder="Confirm Password" type="password">
            <button (click)="OnRegisterClick(registerEmail, registerPassword, registerConfirmPassword)" mat-flat-button
                color="warn">Register</button>
        </div>
        <div *ngIf="isForgotPassState()">
            <input #resetEmail placeholder="Email">
            <button (click)="OnResetClick(resetEmail)" mat-flat-button color="warn">Reset</button>
        </div>
        <mat-card-actions align="end">
            <button (click)="OnForgetPasswordClick()" mat-flat-button>Forgot Password</button>
            <button (click)="OnCreateAccClick()" mat-flat-button>Create Account</button>
            <button (click)="OnLoginClick()" mat-flat-button>Login</button>
            <button (click)="OnGuestClick()" mat-flat-button>Guest</button>
        </mat-card-actions>
    </mat-card>
</div>